__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
var/
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version


# VS Code settings
.vscode/
*.code-workspace



